<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk1.6.0_45"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ant.internal.ui.antsupport.InternalAntRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="port" value="8080"/>
<mapEntry key="module.archive.name" value="ChannelManagerEAR.ear"/>
<mapEntry key="module.name" value="ChannelManagerEAR"/>
<mapEntry key="serverAddress" value="127.0.0.1"/>
<mapEntry key="serverRootDirectory" value="C:/NWDS/Tool/Jboss 5.0/jboss-5.0.1.GA"/>
<mapEntry key="project.working.dir" value="C:/Users/kumar-81/Documents/Metller  Documents/SAP PI/Peter Java/workplace/jarunek-1/workspace/.metadata/.plugins/org.eclipse.wst.server.core/tmp0"/>
<mapEntry key="server.publish.dir" value="C:/NWDS/Tool/Jboss 5.0/jboss-5.0.1.GA/server/default/deploy"/>
<mapEntry key="project.location" value="C:/Users/kumar-81/Documents/Metller  Documents/SAP PI/Peter Java/workplace/jarunek-1/workspace/ChannelManagerEAR"/>
<mapEntry key="contextRoot" value="ChannelManagerEAR"/>
<mapEntry key="jndiPort" value="1099"/>
<mapEntry key="serverConfig" value="default"/>
<mapEntry key="project.name" value="ChannelManagerEAR"/>
<mapEntry key="key" value="generic_server_instance_properties"/>
<mapEntry key="module.dir" value="C:/Users/kumar-81/Documents/Metller  Documents/SAP PI/Peter Java/workplace/jarunek-1/workspace/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/ChannelManagerEAR"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="deploy.j2ee.ear"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\NWDS\nwds-extsoa-7.3-EHP1-SP17-PAT0016-win32\eclipse\plugins\org.eclipse.jst.server.generic.jboss_1.6.1.v200904151730\buildfiles\jboss323.xml"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
